@charset "UTF-8";



.c1{
	color: yellow;
	margin-left: 200px;
}

#footer_b{
	clear: left;
}

p{
	margin-top: 10px;
}

#i1{
	float: left;
}

.cdiv {
	border: 1px solid;
	width: 200px;
	height: 450px;
	float: left;
	text-align: center;
	line-height: 50px;
}

.cdiv2 {
	border: 1px solid;
	width: 200px;
	height: 400px;
	float: left;
	text-align: center;
}

#section {
	width: 1100px;
	height: 600px;
	clear: left;
}

#movie_res {
	width: 1100px;
	height: 90px;
	border: 1px solid;
	display: flex;  /* ▶ 디스플레이 속성을 flex로 변경 */
	align-items: center; /* ▶ 자식 요소의 세로 정렬 방식을 중앙으로 변경 */
	justify-content: center; /* ▶ 자식 요소의 가로 정렬 방식을 중앙으로 변경 */
}

#theater {
	border: 1px solid;
	width: 400px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#car_number {
	border: 1px solid;
	width: 300px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#btn1 {
	position: relative;
	top: 200px;
	right: 2px;
	line-height: 2;
}

#section {
	margin: 80px auto;
}

#text {
	text-align: center;
	line-height: 50px;
}

#otc{
	width: 300px;
	padding: 20px;
    text-align: inherit;
}

#text1{
	line-height: 2;
}

.time{
	font-size: 21px;
}

a:hover{
    color: red;
}

a:focus{
    color: red;
}

#con{
	margin: 20px auto;
}

#date{
	display: inline-flex;
}
#day{
	padding-left: 20px;
	font-size: 25px;
	padding-top: 5px;
}
#month{
	font-size: 30px;
	padding-left: 30px;
}
#orderMain{
	height: 45px;
}

.divbox1{
	height: 400px;
}





