@charset "UTF-8";

figure {
	width: 600px;
	display: flex;
/* 	float: left; */
}

figure img {
	width: 100%;
	/* 	max-width : 400px; */
	height: 100%;
}

.image_panel {
	/* 	display: flex; */
/* 		float: left; */
	margin: 20px;
}

#leftImage {
	width: 700px;
}
/* section{ */
/* 	display: flex; */
/* } */
section:after{
	clear:both;
}
div#image_container1:after{
	display:block;
	clear:both;
}
div#image_container2:after{
	display:block;
	clear:both;
}
div#left {
	width: 50%;
/* 	float: left; */
	display : flex;
	box-sizing: border-box;
/* 	padding: 1px; */
}
/* section#left#leftImage{ */
/* 	display: block; */
/* } */


div#right {
	width: 50%;
/* 	float: right; */
	box-sizing: border-box;
/* 	padding: 1px; */
}