@charset "UTF-8";

#join_box {
  text-align: center;
  margin: 0 auto;
  width: 25em; 
}

/*비밀번호찾기 */
h1{
   width: 11em;
   border-bottom: 1px solid gray;
   margin: 10px auto;
   padding: 10px;
}


.button{
     padding: 0.5em;
  margin: 0.5em 1em;
  width: 10em;
  border-radius: 0.5em;
}

/* 이메일 인증번호 글자*/
#join_wrap label {
   width: 23em;
   text-align: left;
   font-weight: 900;
}
#join_wrap{
	margin: auto;
	padding-left: 605px;
}