@charset "UTF-8";
/* 회원가입 전체 필드 */
#join_box {
  text-align: center;
  width: 100%; 
}

/* 필드셋  */
#authentication, #join_wrap {
  margin: 0 auto;
  padding: 1em;
}

/* 버튼(인증,서브밋)   */
button,input[type="submit"],input[type="button"] {
  padding: 0.5em;
  margin: 0.5em 1em;
  width: 10em;
  border-radius: 0.5em;
}

/* 중복확인 버튼   */
#double_check{
  padding: 0.5em;
  margin: 0.5em;
  width: 7em;
  margin-right: 0;
  margin-left: 1em;
  border-radius: 0.5em;
}
/* 아이디 비밀번호 입력 필드 */
input[type="text"], input[type="password"] {
	padding: 0.5em;
  	margin: 0.5em;
	width: 23em;
	border-radius: 0.5em;
}
/* 설명 라벨 */
#join_wrap label {
	width: 23em;
	text-align: left;
	font-weight: 900;
}
/* 아이디 입력필드 */
input[name="user_id"]{
	width: 14em;
	margin-left: 0;
}
/* 상단 회원가입 문구 */
#join_box h1{
	width: 11em;
	border-bottom: 1px solid gray;
	margin: 10px auto;
	padding: 10px;
}
#footer_b{
	clear: left;
}