@charset "UTF-8";

#join_wrap{
	float: left;
	border: 1px solid;
	background: gray;
	padding: 20px;
	margin: 20px;
}

#join_wrap input{
	margin-left: 10px;
}

#join_wrap label{
	width: 150px;
}

#footer_b{
	clear: left;
}