@charset "UTF-8";

/*로그인,비회원예매 박스*/
.id_pw_wrap{
   float: left;
   
   padding: 20px;
   margin: 20px;
    padding: 1rem;
  margin: 1rem;

}

#footer_b{
   clear: left;
}


.pp{
   display: flex;
   margin-left: 460px;
   height:400px;
}

/*비회원예매바로가기 버튼*/
.btn_login {
   background: white;
   border-radius: 10px;
   padding: 5px;
}
/*로그인 버튼 */
.btn_login1{
   background: white;
   border-radius: 10px;
   padding: 5px;

}

/*입력받는칸*/
.id_pw{
   border-radius: 10px;
   padding: 5px;
   
}

/*버튼사이사이 띄우기*/
#hiddenMsgId{
   padding: 15px;
}
#hiddenLogin{
   padding: 19px;
}


#hidden2{
   padding: 0.5px;
}
#hidden3{
   padding: 1px;
}
#kakao{
   margin-left: 8px;
   
}
